* {
	padding: 0;
	margin: 0;
}
@font-face {
    font-family: "edo";
    src: url(../fonts/edo.ttf);
}
@font-face {
    font-family: "sensei";
    src: url(../fonts/sensei.ttf);
}
li {
	list-style: none;
}
html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	background-image: url('../img/footer.png');
	background-attachment: fixed;
	background-size: 120% 120%;
}
.logo {
	width: 155px;
	height: 120px;
	position: absolute;
	margin-left: 100px;
	z-index: 1000;
	cursor: pointer;
}
.salirVentana {
	right: 50px;
	margin-top: 30px;
	width: 60px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: center;
	position: fixed;
	cursor: pointer;
	color: red;
	font-family: edo;
	font-size: 45px;
	border-radius: 100%;
	border: 5px solid blue;
}
.salirVentana:hover {
	color: blue;
	border: 5px solid red;
}
.imgVentanaEm {
	width: 100%;
}
.menu {
	width: 100%;
	background-color: white;
	display: table;	
}
.menu ul {
	 list-style:none;
	 width: 60%;
	 margin: auto;
	 display: table;
}

/* items del menu */

.menu ul li {
	 width: 24%;
	 text-align: center;
}

/* enlaces del menu */

.menu ul a {
	 display:block;
	 color:black;
	 text-decoration:none;
	 font-weight:400;
	 font-size:30px;
	 padding:12px 0px;
	 font-family: sensei;
	 text-transform:uppercase;
	 letter-spacing:1px;
}

/* items del menu */

.menu ul li {
	 position:relative;
	 float:left;
}

/* efecto al pasar el ratón por los items del menu */

.menu ul li:hover a {
	color: white;
	text-shadow: 2px 2px 3px black;	
	background-color: rgba(128,128,128,0.7);
}

/* menu desplegable */

.menu ul ul {
	 display:none;
	 position:absolute;
	 top:100%;
	 left:0;
}

/* items del menu desplegable */

.menu ul ul li {
	 float:none;
	 width:250px;
	 border-right: none;
}

/* enlaces de los items del menu desplegable */

.menu ul ul a {
	 line-height:120%;
	 padding:10px 15px;
	 font-size: 20px;
}
.menu ul ul li a {
	color : white;

}
.menu ul ul li:hover a {
	color: red;
}

/* items del menu desplegable al pasar el ratón */

.menu ul li:hover > ul {
 	display:block;
}


/*Estilos del slide*/
.slider {
	width: 100%;
	height: 700px;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	height: 700px;
	
	animation: cambio 15s infinite alternate linear;
}

.slider li {
	width: 100%;
	height: 700px;
	list-style: none;
}

.slider img {
	width: 100%;
	height: 700px;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.form {
	width: 300px;
	padding:50px 30px;
	padding-bottom: 50px; 
	display: table;
	text-align: center;
	margin-top: -680px;
	margin-left: 950px;
	position: absolute;
	z-index: 1000;
	background-color: rgba(1,1,1,0.8);
}
.form ul {
	width: 100%;
	display: table;
}
.form ul li {
	width: 100%;
	margin-top: 25px;
	display: table;
}
.form li h3 {
	background-color: blue;
	font-family: sensei;
	color: white;
	padding-top: 14px;
	padding-bottom: 14px;
	font-size: 30px;
	box-shadow: 4px 4px 6px black;
}
.form li img {
	float: left;
	width: 35px;
	height: 35px;
}
.form li h4 {
	float: left;
	color: white;
	margin-left: 5px;
	font-family: edo;
	text-shadow: 1px 1px 2px black;
}
.form li input[type=text], input[type=numeric] {
	height: 30px;
	width: 245px;
	text-shadow: 1px 1px 1px black;
	font-size: 20px;
	margin-left: 5px;
	border-radius: 5px;
	font-family: sensei;
	background-color: rgba(128,128,128,0.5);
	box-shadow: 4px 4px 6px black;
	color: white;
}
.form li input::placeholder {
	color: white;
	font-size: 15px;
	height: 30px;
	padding-top: 10px;
	background-color: rgba(255,255,255,0.1);
}
.form li input[type=checkbox] {
	float: left;
	margin-left: 30px;
	box-shadow: 1px 1px 2px black;
}
.form li input[type=button] {
	padding: 10px 20px;
	border: 1px solid red;
	background-color: red;
	color: white;
	font-size: 18px;
	font-family: edo;
	text-shadow: 4px 4px 6px black;
	cursor: pointer;
	box-shadow: 4px 4px 6px black;
}
.form li textarea {
	height: 100px;
	width: 245px;
	text-shadow: 1px 1px 1px black;
	font-size: 20px;
	margin-left: 5px;
	font-family: sensei;
	border-radius: 5px;
	background-color: rgba(128,128,128,0.5);
	color: white;
	box-shadow: 4px 4px 6px black;
}
.form li textarea::placeholder {
	color: white;
	font-size: 18px;
	font-family: sensei;
	height: 30px;
	padding-top: 10px;
	padding-bottom: 60px;
	background-color: rgba(255,255,255,0.1);
}

.section {
	width: 100%;
	display: table;
	padding-bottom: 30px;
}
.section h1 {
	font-family: sensei;
	font-size: 50px;
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
	background-image: url('../img/fondoRojo.png');
	background-attachment: fixed;
	background-size: 100% 100%;
	text-shadow: 2px 2px 3px white;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #0683EA;
	text-shadow: 2px 2px 4px black;
}

.footer {
	clear: both;
	width: 100%;
	height: 400px;
	background-image: url('../img/footer.png');
	background-attachment: fixed;
	background-size: 100% 100%;
	text-align: center;
}
.footer h1 {
	color: white;
	text-shadow: 2px 2px 2px black;
	font-family: edo;
}
.footer h2 {
	color: white;
	text-shadow: 2px 2px 2px black;
	font-family: sensei;
}
.footer h4, h3, h5 {
	margin-top: 20px;
	font-family: calibri;
	color: white;
	text-shadow: 1px 1px 2px black;
}
.footer ul {
	width: 80%;
	display: table;
	margin-left: 10%;
	padding-top: 50px;
	float: left;
}

.footer ul li {
	width: 33%;
	float: left;
	text-align: center;
	height: 90px;
}
.footer li img { 
	float: left;
	width: 80px;
	height: 80px;
}
.footer li h4 {
	float: left; 
	color: white;
	font-family: sensei;
	margin-top: 20px;
	margin-left: 5px;
	font-size: 25px;
	text-shadow: 2px 2px 3px black;
}

.mascara {
	top: 0;
	position: fixed;
	z-index: 2000;
	width: 100%;
	height: 100%;
	background-color: rgba(1,1,1,1);
	overflow-x: hidden;
}
#somos {
	display: none;
}
.ventanaSo {
	width: 70%;
	height: 90%;
	margin-left: 20%;
	margin-top: 50px;
	background-image: url('../img/somos.png');
	background-size: 100% 100%;
}
#ingles {
	background-image: url('../img/6.png');
	background-size: 100% 100%;
	display: none;
}
#frances {
	background-image: url('../img/6.png');
	background-size: 100% 100%;
	display: none;
}
.dialogo {
	width: 70%;
	margin: auto;
	padding: 20px;
	color: white;
	margin-top: 50px;
	text-align: center;
	font-family: sensei;
	background-color: rgba(1,1,1,0.8);
}
.dialogo h2 {
	font-size: 30px;
	padding-bottom: 20px;
	color: yellow;
	/*text-shadow: 1px 1px 1px gray;*/
}
.dialogo p {
	font-size: 18px;
}
.logoMas {
	width: 170px;
	height: 130px;
	float: left;
	margin-left: 50px;
	margin-top: 10px;
	position: absolute;
}
.contactoMas {
	float: right;
	display: table;
	margin-top: 150px;
	margin-right: 20px;
	cursor: pointer;
}
.contactoMas img {
	float: left;
	width: 50px;
	height: 50px;
}
.contactoMas h4 {
	background-color: white;
	padding: 7px 10px;
	float: right;
	font-family: calibri;
	font-size: 20px;
	margin-top: 10px;
	border-radius: 5px;
}
.contenidoVentana {
	width: 80%;
	display: table;
	margin-left: 10%;
	margin-top: 80px;
	position: absolute;
	color: white;
	font-family: calibri;
}
.contenidoVentana h1 {
	text-align: center;
	font-size: 50px;
}

.contenidoVentana p {
	margin-top: 20px;
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
}

.imgV {
	width: 90%;
	margin-top: 50px;
	margin-left: 5%;
	margin-bottom: 50px;
}
.imgVentana {
	width: 100%;
	height: 600px;
	margin-top: 20px;
	position: absolute;
	margin-bottom: 40px;
	/*background-color: rgba(1,1,1,0.4);*/
}
.imgValor {
	float: left;
	margin-top: 80px;
	margin-left: 5%;
}
.clear {
	width: 100%;
	height: 20px;
	position: absolute;
	clear: both;
	margin-top: 650px;
}
.centro {
	position: absolute;
	margin: auto;
	margin-top: 620px;

}
.varios {
	width: 100%;
	clear: both;
	margin-top: 1200px;
	margin-bottom: 50px;
	text-align: center;
}
.varios img {
	width: 33%;
	height: 280px;
}
.varioSk img {
	width: 33%;
	height: 280px;
}
.varioSk {
	width: 100%;
	clear: both;
	margin-top: 1100px;
	margin-bottom: 50px;
	text-align: center;
}
.varioPIS {
	width: 80%;
	clear: both;
	margin: auto;
	margin-top: 1080px;
	margin-bottom: 50px;
	text-align: center;
}
.varioPIS img {
	width: 50%;
	float: left;
	height: 350px;
	margin-bottom: 80px;
}
#grupal, #personal, #internacional, #skype, #icfes, #vacacional, #pis, #conversacion, #apoyo {
	display: none;
}

.rojo {
	width: 100%;
	height: 80px;
	background-attachment: fixed;;;
	background-image: url('../img/fondoRojo.png');
}
.azul {
	width: 100%;
	height: 40px;
	margin-top: 50px;
	background-attachment: fixed;;;
	background-image: url('../img/fondoAzul.png');
}
.azul1 {
	width: 100%;
	height: 40px;
	margin-top: 50px;
	background-attachment: fixed;;;
	background-image: url('../img/fondoAz.png');
}
.puente {
	width: 100%;
	height: 700px;
	background-image: url('../img/puente1.jpg');
	background-attachment: fixed;
	background-size: 100% 130%;
	text-align: center;
}
.puente h1 {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 50px;
	font-size: 50px;
	font-family: edo;
	background-image: url('../img/fondoRojo.png');
	background-attachment: fixed;
	background-size: 100% 100%;
	color: #0A6DC0;
	text-shadow: 2px 2px 4px black;
}
.puente h3 {
	width: 80%;
	padding: 20px 20px;
	color: white;
	text-shadow: 2px 2px 1px black;
	border-radius: 10px;
	font-family: sensei;
	background-color: rgba(255,255,255,0.3);
	font-size: 35px;
	margin: auto;
	margin-top: 50px;
	display: table;
}
.puente ul {
	width: 80%;
	margin: auto;
	display: table;
}
.puente ul li {
	float: left;
	width: 30%;
	margin: 1.5%;
	padding-top: 20px;
}
.puente li h4 {
	width: 100%;
	font-size: 25px;
	font-family: edo;
	text-shadow: 2px 2px 3px black;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}
.puente li p {
	background-color: rgba(255,255,255,0.6);
	font-size: 20px;
	font-family: sensei;
	text-shadow: 1px 1px 2px white;
	padding: 20px;
	margin-top: 15px;
	border-radius: 5px;
}
.linea {
	width: 50%;
	clear: both;
	margin-left: 25%;
	height: 4px;
	background-image: url('../img/fondoRojo.png');
	background-attachment: fixed;
	background-size: 100% 100%;
}
.linea1 {
	width: 30%;
	clear: both;
	margin-left: 35%;
	height: 4px;
	background-image: url('../img/fondoAzul.png');
	background-attachment: fixed;
	background-size: 100% 100%;
}
.formP {
	width: 30%;
	display: table;
	margin: auto;
	margin-top: 50px;
	text-align: center;
	padding: 30px 30px;
	margin-bottom: 20px;
	background-color: rgba(1,1,1,0.8);
	border-radius: 10px;
}
.formP ul {
	width: 90%;
	display: table;
	margin-left: 5%;
}
.formP ul li {
	width: 100%;
	display: table;
	margin: auto;
	margin: 2%;
}
.formP li input[type=text], select, textarea {
	width: 100%;
	height: 30px;
	border-radius: 5px;
	background-color: rgba(1,1,1,0.7);
	color: white;
	font-size: 16px;
	font-family: sensei;
}
.formP textarea {
	height: 100px;
}
.formP input[type=button] {
	padding: 10px 20px;
	background-color: red;
	color: white;
	border: 1px solid red;
	cursor: pointer;
	box-shadow: 2px 2px 4px black;
	font-family: edo;
}
.formP li input::placeholder {
	background-color:rgba(1,1,1,0.7);
	color: white;
	font-size: 16px;
}
.formP textarea::placeholder {
	color: white;
	font-size: 16px;
}
.formP option {
	color:yellow;
	background-color: rgba(1,1,1,0.9);
}
#formPqr {
	background-image: url('../img/puente1.jpg');
	background-attachment: fixed;
	background-size: 100% 100%;
	display: none;
}
.redesHover {
	right: 0px;
	position: absolute;
	width: 280px;
	height: 65px;
	border: 1px dashed green;
	overflow: hidden;
}
#btnFace:hover {
	cursor: pointer;
	width: 280px;
}
.redesHover img {
	width: 60px;
	height: 60px;
	float: left;
}
.redesHover h4 {
	text-decoration: none;
	color: white;
	font-family: sensei;
	background-color: black;
	padding: 3px;
	float: left;
	margin-top: 8px;
	margin-left: 5px;
	font-size: 20px;
	border-radius: 7px;
}

@media screen and (min-width:330px) and (max-width:640px) {
    .form {
    	display: none;
    }
}